 <nav>
    <ul class="nav">
        <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Главная</span></a></li>
        <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
    </ul>
</nav>