 <nav>
    <ul class="nav">
        <li><a href="/Queue" @*class="active"*@><i class="lnr lnr-home"></i> <span>Queue</span></a></li>
        <li><a href="/LoginData" class=""><i class="lnr lnr-linearicons"></i> <span>Login Data</span></a></li>
        <li><a asp-page="/Contact" class=""><i class="lnr lnr-linearicons"></i> <span>Contact</span></a></li>
        <li><a asp-page="/About" class=""><i class="lnr lnr-linearicons"></i> <span>About</span></a></li>
    </ul>
</nav>