@page
@model InstaBot.Web.Pages.Queue.DetailsModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>QueueEntity</h4>
    <hr />
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Last activity(min)</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.UserActivityHistories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => (DateTime.UtcNow - item.CreatedOn).TotalMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostedImageURI)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
<script>
    $(".table").DataTable({
        "order": [[1, "asc"]]
    });
</script>
