@page
@using InstaBot.Common.Enums
@using InstaBot.Web.EntityModels
@model InstaBot.Web.Pages.Queue.EditModel

<!DOCTYPE html>


<h4>QueueEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QueueEntity.Id" />
            <div class="form-group">
                <label asp-for="QueueEntity.QueueType" class="control-label"></label>
                <select asp-for="QueueEntity.QueueType" asp-items="Html.GetEnumSelectList<QueueType>()" class="form-control"></select>
                <span asp-validation-for="QueueEntity.QueueType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueueEntity.QueueState" class="control-label"></label>
                <select asp-for="QueueEntity.QueueState" asp-items="Html.GetEnumSelectList<QueueState>()" class="form-control"></select>
                <span asp-validation-for="QueueEntity.QueueState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueueEntity.DelayInSeconds" class="control-label"></label>
                <input asp-for="QueueEntity.DelayInSeconds" class="form-control" min="60"/>
                <span asp-validation-for="QueueEntity.DelayInSeconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueueEntity.LastActivity" class="control-label"></label>
                <input asp-for="QueueEntity.LastActivity" class="form-control" />
                <span asp-validation-for="QueueEntity.LastActivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueueEntity.LoadId" class="control-label"></label>
                <input type="hidden" asp-for="QueueEntity.LoadId" />
                <select class="form-control load-id-tags" multiple="multiple"></select>
                <span asp-validation-for="QueueEntity.LoadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="QueueEntity.IsActive" />  Is Active
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="QueueEntity.Notes" class="control-label"></label>
                <textarea asp-for="QueueEntity.Notes" class="form-control"></textarea>
                <span asp-validation-for="QueueEntity.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<script>
    $(function () {
        var loadIdTags = $("#QueueEntity_LoadId").val().split(" ");
        var loadIds = $(".load-id-tags").select2({
            tags: true,
            tokenSeparators: [',', ' '],
            data: loadIdTags
        });
        loadIds.val(loadIdTags).trigger("change");

        $(".btn").click(function (e) {
            var loadId = '';

            $(".load-id-tags option:selected").each(function (index) {
                loadId += (index == 0 ? '' : ' ') + $(this).text();
            });
            $("#QueueEntity_LoadId").val(loadId);
        });
    });
</script>